img {
  width: 100%;
}

body {
  background-color: #87d8ec;
  margin-right: 20%;
  margin-left: 20%;
}

#team_name {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

#profiles {
  display: flex;
  flex-flow: row wrap;
  margin-inline: 10%;
  align-items: start;
  justify-items: end;
  font-family: Verdana, sans-serif;
}

.profile {
  flex-grow: 1;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portrait {
  /* Responsive resizing of images here? */
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.profile_description {
  font-size: medium;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 5%;  
}

p {
  text-align: center;
}